<!DOCTYPE html>
<html>
<head>
  <title>Broker</title>
  <%= stylesheet_link_tag    "broker/application", media: "all" %>
  <%= javascript_include_tag "broker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
